<div id="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Khóa người dùng</a>
        </li>
      </ol>

      <!-- DataTables -->
      <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-table"></i>
              Danh sách người dùng
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Email</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Địa chỉ</th>
                    <th>Thành phố</th>
                    <th>Số điện thoại</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.email}}</th>
                    <td>{{this.ho}}</td>
                    <td>{{this.ten}}</td>
                    <td>{{this.diaChi}}</td>
                    <td>{{this.tp}}</td>
                    <td>{{this.sdt}}</td>
                    <td><button type="button"><a href="/users/lock/{{this._id}}">Khóa</a></button></td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>