<div id="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Danh sách các mặt hàng trong đơn hàng</a>
        </li>
      </ol>

      <!-- DataTables -->
      <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-table"></i>
              Danh sách các mặt hàng trong đơn hàng
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Thương hiệu</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá (VNĐ)</th>
                    <th>Màn hình</th>
                    <th>Camera trước</th>
                    <th>Camera sau</th>
                    <th>CPU</th>
                    <th>Ram</th>
                    <th>Bộ nhớ</th>
                    <th>Hình ảnh</th>
                </tr>
                </thead>
                <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.ma}}</th>
                    <td>{{this.loai}}</td>
                    <td>{{this.ten}}</td>
                    <td>{{this.gia}}</td>
                    <td>{{this.manHinh}}</td>
                    <td>{{this.cameraTruoc}}</td>
                    <td>{{this.cameraSau}}</td>
                    <td>{{this.cpu}}</td>
                    <td>{{this.ram}}</td>
                    <td>{{this.rom}}</td>
                    <td><a href="{{this.hinhAnh}}">{{this.hinhAnh}}</a></td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>